@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@layer base {
  [x-cloak] {
    display: none !important;
  }
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url('../fonts/THSarabunNew.ttf') format('truetype');
}

body {
  font-family: 'TH Sarabun New';
}